<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="<?php echo base_url()?>public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="<?php echo base_url()?>public/admin/css/font-awesome.min.css" />

    <link rel="stylesheet" href="<?php echo base_url()?>public/admin/css/font-awesome-ie7.min.css" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />



    <link rel="stylesheet" href="<?php echo base_url()?>public/admin/css/ace.min.css" />
    <link rel="stylesheet" href="<?php echo base_url()?>public/admin/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="<?php echo base_url()?>public/admin/css/ace-skins.min.css" />


    <link rel="stylesheet" href="<?php echo base_url()?>public/admin/css/ace-ie.min.css" />


    <script src="<?php echo base_url()?>public/admin/js/ace-extra.min.js"></script>
</head>
<body>
<div class="sidebar" id="sidebar">
<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="icon-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="icon-pencil"></i>
        </button>

        <button class="btn btn-warning">
            <i class="icon-group"></i>
        </button>

        <button class="btn btn-danger">
            <i class="icon-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="active">
            <a href="index.html">
                <i class="icon-dashboard"> </i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text">权限管理</span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="<?php echo site_url('manage/manage_index')?>">
                        <i class="icon-double-angle-right"></i>
                        添加管理员
                    </a>
                </li>

                <li>
                    <a href="<?php echo site_url('manage/manage_list')?>">
                        <i class="icon-double-angle-right"></i>
                       管理员列表
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> 商品管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="tables.html">
                        <i class="icon-double-angle-right"></i>
                        商品列表
                    </a>
                </li>

                <li>
                    <a href="jqgrid.html">
                        <i class="icon-double-angle-right"></i>
                       商品添加
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-edit"></i>
                <span class="menu-text"> 商品分类 </span>

                <b class="arrow icon-angle-down"></b>

            </a>

            <ul class="submenu">
                <li>
                    <a href="<?php echo site_url('Category/category_list')?>">
                        <i class="icon-double-angle-right"></i>
                        分类列表
                    </a>
                </li>

                <li>
                    <a href="<?php echo site_url('Category/category_edit')?>">
                        <i class="icon-double-angle-right"></i>
                        添加分类
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-tag"></i>
                <span class="menu-text"> 品牌 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="<?php echo site_url('brand/brand_edit')?>">
                        <i class="icon-double-angle-right"></i>
                      品牌分类
                    </a>
                </li>

                <li>
                    <a href="<?php echo site_url('brand/brand_list')?>">
                        <i class="icon-double-angle-right"></i>
                     品牌列表
                    </a>
                </li>
            </ul>
        </li>
    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>
</body>
</html>